body {
  /* background-image: linear-gradient(to right, #7bcc1f, white); */
  background-color: #f2f4e6;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.body {
    background-color: #f2f4e6
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#body {
    background-color: #f2f4e6
  background-size: 100%;
  width: 100%;
  height: 100%;
}

h2 {
  position: absolute;
  top: 70%;
  left: 26%;
  transform: translate(-50%, -50%);
  color: #ffd12a;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  background-color: #8abd30;
}
.navbar-toggler-icon {
  border: solid white;
}

.main {
    width: 95%;
    margin: 0 auto;
    background-color: #f2f4e6
}

#myUL {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 20px;
    
  }

  #myInput {
    width: 100%;
    margin: 0;
    border: 2px solid green;
  }